/*
Colors used:
Primary Color (light grey): #b3b3b3ff;
Secondary Color (Coral): #fd6860ff;
Tertiary Color (Black):#333333ff
*/
header {
  background-color: #fd6860ff;
  padding: 10px;
  margin: 10px;
  border-bottom: 2px solid #b3b3b3ff;
  position: absolute;
  display: block;
  box-sizing: border-box;
  font-weight: 700;
  min-width: 1200px
}

nav {
  margin-inline-start: -40px;
  font-family: 'Lato';
  font-size: 16px
}

body {
  background-color: #CDD6DD;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  /* Sets the font size to 16px */
  font-weight: 300;
  /* Sets the font weight to 300 */
  line-height: 1.6;
  /* Sets the line-height to 1.6 * the font-size */
  color: #333333ff;
  padding: 10px;
  margin: 10px;
  border-bottom: 2px solid #b3b3b3ff;
  position: absolute;
  display: block
}


h1, h2, h3, h4 {
  line-height: 1.5;
}

h1 {
  font-size: 2.75em;
  font-weight: 700;
}

h2 {
  font-size: 2.25em;
  font-weight: 600;
}

h3 {
  font-size: 1.75em;
  font-weight: 500;
}

h4 {
  font-size: 1.25em;
  font-weight: 400;
}

img {
  width: 100%;
}

a:visited {
  /* visited link */
  color: #333333ff;
}

a:active {
  /* selected link */
  color: #333333ff;
}

a:hover {
  color: #cc6540;
  text-decoration: underline;
  /* Underlining when hovering over a link */
}

a:focus {
  color: #333333ff;
  text-decoration: underline;
}

img {
  width: 100%;
  padding: 10px;
  margin: 10px;
}

img.resize-splash {
  max-width: 30%;
  max-height: 30%;
  padding: 10px;
  margin: 10px;
}
img.resize {
  max-width: 15%;
  max-height: 15%;
  padding: 10px;
margin: 10px;
}

img.resize-logo {
  max-width: 5%;
  max-height: 5%;
  padding: 10px;
  margin: 10px;
}

img.resize-footer {
  max-width: 2.5%;
  max-height: 2.5%;
  padding: 10px;
  margin: 10px;
}

img.resize-inkwell {
  max-width: 50%;
  max-height: 50%;
  padding: 10px;
  margin: 10px;
}
.col-md-6 {
  width: 50%;
}
[class*="col-"] {
  float: left;
}
.col-md-5 {
  width: 40%;
}
.col-md-7 {
  width: 60%;
}


.button {
  display: inline-block;
  /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #fd6860ff;
  color: #313131 !important;
  /* needed to override the default link color */
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #994c30;
  /* width of the border, type, color */
  transition-duration: 0.2s;
  transition-property: opacity
}

.button:hover {
  opacity: 0.8;
  /* Reduces the opacity of the button to 80% */
  text-decoration: none;

}

.button.contact {
  background-color: transparent;
  color: #fd6860ff !important;
  text-transform: uppercase;
  border: 2px solid #fd6860ff;
}

.button.contact:hover {
  background-color: #fd6860ff;
  color: #ffffff !important;
}

/* Layout styling */
.container {
  padding: 0 15px;
  max-width: 1200px;
  box-sizing: border-box;
}

.row {
  margin: 25px 0;}
  /* 25px top and bottom, 0 left and right */

  .row::after {
  content: "";
  clear: both;
  display: table;
    padding: 10px
}

#hero h1 {
  text-align: center;
  /* Centers text */
}

#hero span {
  display: block;
}

.center {
  text-align: center;
}

.left {
  text-align: left;
}

.contact {
  text-align: left;
}

#hero {
  background-color: #CCFBFE;
  text-align: center;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
  box-shadow: 0px 5px 5px 0px rgba(50, 50, 50, 0.5);
  }

  @keyframes color-change {
  0% {fill: #9D4A8D;}
  50% {fill: #FD4173;}
  100% {fill: #fd6860ff;}
}

.cat {
  animation-duration: 4s;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

.navtoggle li:not(:last-child) {
  display: none;
}
.navtoggle, .navtoggle.responsive {
  position: relative;
}
.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 2px;
  font-size: 20px;
  padding-right: 0;
}
.navtoggle.responsive li  {
  display: block;
}
.navtoggle.responsive nav {
  padding: 24px 0 0;
}
.navtoggle.responsive li  {
  display: block;
  padding: 10px 0;
  border-top: 1px solid rgba(255,127,80,0.5);
}

.navtoggle.responsive li:last-child  {
  padding: 0 0 10px;
}

  /* ==============================
  Medium devices (641px and larger)
  ================================= */
  @media only screen and (min-width: 641px) {

header {
    text-align: unset;
    padding: 20px 0 13px;
  }
nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }
  nav > ul {
  list-style-type: none;
  padding: 0;
}
  .col-md-6 {
  width: 50%;
}
nav > ul > li {
  display: inline-block;
}
.navtoggle li:not(:last-child) {
  display: inline-block;
}
.navtoggle li:last-child {
  display: none;
}
nav > ul {
  margin: 1em 0;
}
main {
  padding-top: 56px;
}
}

  /* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  .col-md-5 {
    width: 40%;
  }
  .col-md-7 {
    width: 60%;
  }
  .container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
}
/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {
}
